[class*="col-"]{
    border:solid 1px white;
    background-color: rgb(26, 81, 184) ;
    height: 50px;
}

.green{
    background-color: rgb(15, 151, 15);
    border: solid 5px rgb(26, 81, 184);
}

.back{
    height: 52px;
}

.super-back{
    height: 100px;
}

